*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

body {
	margin: 0;
	--color-text: #f6f1f1;
	--color-bg: #0f0e0e;
	--color-link: #e94b31;
	--color-text-alt: #999797;
	--color-link-hover: #fff;
	--cursor-stroke: #e94b31;
    --cursor-fill: transparent;
    --cursor-stroke-width: 1px;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: ivymode, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a, button {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.frame {
	padding: 1rem;
	text-align: center;
	position: absolute;
	width: 100%;
	z-index: 1000;
	top: 0;
	left: 0;
}

.frame__logo,
.frame__social {
	color: var(--color-text-alt);
}

.frame__menu {
	font: inherit;
	background: none;
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: not-allowed;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
	font-weight: normal;
}

.frame__sponsor,
.frame__logo,
.frame__menu {
	display: none;
}

.frame__links a {
	margin: 0 1rem;
}

.frame__demos {
	margin: 1rem 0 0 0;
	position: relative;
}

.frame__demos::before {
	content: 'More demos';
	display: block;
}

.frame__demos a {
	margin: 0 1rem;
}

.frame__demo--current {
	color: var(--color-text);
}

.slides {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
    align-items: center;
    padding-top: 7rem;
    min-height: 700px;
}

.js .slides {
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
}

.js .slide {
	align-items: center;
    display: flex;
	grid-area: 1 / 1 / 2 / 2;
	opacity: 0;
	pointer-events: none;
	width: 100%;
	justify-content: center;
}

.js .slide--current {
	opacity: 1;
	pointer-events: auto;
}

.slide {
	margin: 0 auto;
	height: 100%;
}

.slide__img-wrap {
	min-width: 790px;
	width: 100%;
	height: calc(100% - 6rem);
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: center;
	align-self: center;
	transform: rotate(-22.5deg);
	transform-origin: 50% 50%;
}

.slide__img {
	opacity: 0.4;
	flex: none;
	height: calc(50% - 1.5rem);
	display: block;
	background-size: cover;
	background-position: 50% 50%;
}

.slide__img--1,
.slide__img--4 {
	height: calc(50% + 3rem);
}

.slide__img--1,
.slide__img--3 {
	margin-right: 1.5rem;
}

.slide__img--1,
.slide__img--2 {
	margin-bottom: 1.5rem;
}

.slide__img--2 {
	align-self: flex-end;
}

.slide__img--3 {
	align-self: flex-start;
}

.break {
	flex-basis: 100%;
	height: 0;
}

.slide__title {
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-size: 15vw;
	font-size: clamp(2rem, 15vw, 14rem);
	font-weight: 200;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.slide__title-inner {
	display: block;
	position: relative;
	overflow: hidden;
	display: flex;
}

.slide__title-inner span {
	position: relative;
}

.slide__title-inner--middle {
	font-size: 2.5rem;
	display: block;
	font-weight: 300;
	text-transform: none;
}

.slides__nav {
	position: absolute;
	top: 50%;
	cursor: pointer;
	background: none;
	border: 0;
	width: 90px;
	height: 20px;
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	transition: transform 0.2s ease-out;
}

.slides__nav svg {
	display: block;
	width: 100%;
	height: 100%;
}

.slides__nav--prev {
	left: 15vw;
}

.slides__nav--prev:hover {
	transform: translate3d(-15%, 0, 0);
}

.slides__nav--next {
	right: 15vw;
}

.slides__nav--next:hover {
	transform: translate3d(15%, 0, 0);
}

.cursor {
	display: none;
}

@media screen and (min-width: 53em) {
	.frame {
		position: fixed;
		text-align: left;
		z-index: 100;
		display: grid;
		align-content: space-between;
		justify-content: space-between;
		max-width: none;
		height: 100vh;
		padding: 2rem 4rem;
		pointer-events: none;
		grid-template-columns: 25% 50% 25%;
		grid-template-areas: 'title logo menu'
							'social credits sponsor';
	}
	.frame__inner {
		grid-area: title;
	}
	.frame__logo {
		margin: 0;
		justify-self: center;
		grid-area: logo;
		display: inline-block;
	}
	.frame__menu {
		justify-self: end;
		align-self: start;
		grid-area: menu;
		display: inline-block;
	}
	.frame__social {
		grid-area: social;
	}
	.frame__credits {
		margin: 0;
		justify-self: center;
		grid-area: credits;
	}
	.frame__sponsor {
		justify-self: end;
		grid-area: sponsor;
		display: inline-block;
	}
	.frame__links {
		display: flex;
		flex-direction: column;
		margin-top: 4rem;
	}
	.frame__links a {
		margin: 0;
	}
	.frame__demos {
		margin: 3rem 0 0 0;
	}
	.frame__demos a {
		margin: 0 0.5rem 0 0;
	}
	.frame button,
	.frame a {
		pointer-events: auto;
	}
	.slides {
		padding: 0;
	}
}

@media (any-pointer: fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
		/*mix-blend-mode: color-burn;*/
	}
	.cursor__inner {
		fill: var(--cursor-fill);
		stroke: var(--cursor-stroke);
		stroke-width: var(--cursor-stroke-width);
		opacity: 0.7;
	}
	.credits {
		padding-left: 25vw;
	}
}
